@import 'tailwindcss';

:root {
  --background: #f5eae6;
  --foreground: #574a46;
  --accent: #c42776;
  --accent-light: #e893c2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
